<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<%  if(data) { %>
    
    <br>
    <br>
    <br>
    <div class="container" id="reviewContainer">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Show Title</th>
                <th scope="col">Premier Date</th>
                <th scope="col">Show Status</th>
                <th scope="col">Show Language</th>
                <th scope="col">Show Summary</th>
              </tr>
            </thead>

            <%
			if (data) {
				var table = '';
				data.forEach(function(item) {
					table += '<tr> <td>' + item.showtitle + '</td> <td>' + item.premierdate + '</td> <td>' + item.showstatus + '</td> <td>' + item.showlanguage + '</td> <td>' + item.showsummary + '</td>' 
						
					table += '</tr>'
				}); %>
				<%- table %>
				<% } %>
        
          </table>
    </div>
    
<% } %>

<%- include('../partials/footer') %>