<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<main>
    <div class="" style="background-color: #343a40">
      <div class="container-fluid" style="padding: 2%">
        <form class="" action="javascript:getInfo();">
          <div class="row">
            <div class="col-3">
            </div>
            <div class="col-5">
              <input
                class="form-control"
                type="text"
                name="tag"
                id="tag"
                placeholder="Search for a show"
              />
            </div>
            <div class="col-1">
              <input
                class="btn btn-light"
                type="submit"
                name="Submit"
                value="Submit"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container" id="containerResults"> </div>

  </main>

  <script src="../../resources/js/script.js"></script>
<%- include('../partials/footer') %>